<h1>Listing tablets</h1>

	<div class="well">
	<table class="table">
		<thead>
  <tr>
    <th>Restaurant</th>
    <th>Ip address</th>
    <th>Is server</th>
    <th>Owner</th>
    <th>Serial no</th>
    <th></th>
    <th></th>
    <th></th>
	
  </tr>
</thead>
<% @tablets.each do |tablet| %>
<tbody>
  <tr>
    <td><%= tablet.restaurant.name %></td>  
    <td><%= tablet.ip_address %></td>
    <td><%= tablet.is_server %></td>
    <td><%= tablet.owner.email %></td>
    <td><%= tablet.serial_no %></td>
  </tr>
</tbody>
<% end %>
</table>
</div>
<br />
