<div class="clearfix"></div>
<div class="content">
    <div class="page-title">	<i class="fa fa-tablet"></i>
        	<h3>Tablets </h3>	
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title no-border">
                    <h4>  <span class="semi-bold"></span></h4>
                    <div class="tools">	<a href="javascript:;" class="collapse"></a>
			<a href="javascript:;" class="reload"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                        <table class="table table-bordered no-more-tables">
                            <thead>
														  <tr>
														    <th>Restaurant</th>
														    <th>Ip address</th>
														    <th>Is server</th>
														    <th>Owner</th>
														    <th>Serial no</th>
														    <th></th>
														    <th></th>
														    <th></th>
	
														  </tr>
</thead>
<% @tablets.each do |tablet| %>
<tbody>
  <tr>
    <td><%= tablet.restaurant.name %></td>  
    <td><%= tablet.ip_address %></td>
    <td><%= tablet.is_server %></td>
    <td><%= tablet.owner.email %></td>
    <td><%= tablet.serial_no %></td>
  </tr>
</tbody>
<% end %>
</table>
</div>
</div>
</div>
</div>
</div>



