<h1>Listing employees</h1>

<div class="well">
<table class="table">
	<thead>
  <tr>
    <th>Name</th>
	<th>Avatar</th>
    <th>Restaurant</th>
    <th>Category</th>
    <th></th>
    <th>Actions</th>
    <th></th>
  </tr>
</thead>

<% @employees.each do |employee| %>
<tbody>
  <tr>
	<td><%= employee.name %></td>  
    <td><%= image_tag employee.avatar.url(:small) %></td>
    <td><%= employee.restaurant.name %></td>
    <td><%= employee.category %></td>
    
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Delete', employee, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
</tbody>
<% end %>

</table>
</div>
<br />

<%= link_to 'New Employee', new_employee_path %>
