<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Category:</b>
  <%= @employee.category %>
</p>

<p>
  <b>Phone:</b>
  <%= @employee.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @employee.email %>
</p>

<p>
  <b>Rating:</b>
  <%= @rating %> / 5.0 (<%=@rating_count%> reviews)
</p>

<p>
  <%= image_tag @employee.avatar.url(:medium)%>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
