<!-- BEGIN FORM OPTIONS-->	  
  <div class="row">
      <div class="col-md-8">
        <div class="grid simple">
          <div class="grid-body no-border">
            <div class="row-fluid">
              <div class="span8">
				<br>
				<%= simple_form_for @menu_item, :html => {:multipart => true},  :class => 'form-horizontal' do |f| %>
					  <%= f.error_notification %>

							<div class="controls">
						  <%=f.input :name%>
						</div><br/>
						<div class="controls">
						  <%=f.input :description%>
						</div><br/>
						<div class="controls">
				    	  <%=f.input :price%>
							</div><br/>
							<div class="controls">
						  <%=f.select :category, @categories.collect {|category| [category.name]}%>
						</div><br/>
						<div class="controls">
						  <%=f.input :item_asset%>
						</div><br/>

					  <%=f.hidden_field :menu_id, :value => @menu_item.menu_id%>
						<br/>
				    <%= f.submit nil, :class => 'btn btn-primary' %>
				    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
				                menu_path(@menu), :class => 'btn' %>
				<% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!-- END FORM OPTIONS-->

