<%= simple_form_for(@restaurant) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :country %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :zip %>
	<%=f.label "Menu", :class => 'control-label'%>
	<%=f.select :menu_id, @restaurant.get_menus.collect {|menu| [menu.name, menu.id]}, {include_blank: 'None'}%>
 </div>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
