<h3>Restaurant</h3>
<div class="well">
<table class="table">
	<thead>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>State</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Zip</th>
    <th>Actions</th>

  </tr>
</thead>
<tbody>
  <tr>
    <td><%= @restaurant.name%></td>
    <td><%= @restaurant.city %></td>
    <td><%= @restaurant.state %></td>
    <td><%= @restaurant.phone %></td>
    <td><%= @restaurant.email %></td>
    <td><%= @restaurant.zip %></td>
    <td>
    <%= link_to '', edit_restaurant_path(@restaurant), :class => 'icon-pencil' %>
    <%= link_to '', @restaurant, :class =>"icon-remove", confirm: 'Are you sure?', method: :delete %></td>
  </tr>
</tbody>
</table>
</div>


<h3>Stations</h3>
<%if !@restaurant.stations.nil?%>
<div class="well">
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Menu</th>
			<th>Printer IP</th>
			<th>
		</tr>
	</thead>
	<%@restaurant.stations.each do |station|%>
	<tbody>
		<tr>
			<td><%=station.name%></td>
			<td><%=station.get_menu()%></td>
			<td><%=station.printer_ip%></td>
	</tbody>
	<%end%>
</table>
<%end%>
</div>