<%= form_for @menu, :validate => true, :html => { :class => 'form-horizontal' } do |f| %>
 <%if @menu.errors.any?%>
 <div class="container">
	 <div class="row">
		 <div class="span6">
<div class = "alert alert-error">
	<a class="close" data-dismiss="alert">x</a>
    <strong><%= pluralize(@menu.errors.count, "error") %> prohibited this deal from being saved:</strong>
    <ul>
    <% @menu.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
</div>
</div>
</div>
</div>
    <%end%>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :menu_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :menu_type, :class => 'text_field' %>
    </div>
  </div>
  <%=f.fields_for :menu_items do |menu_item|%>
	  <%=render "menu_item_fields", :f => menu_item%>
  <%end%>
  <%=link_to_add_association "Add Menu Item", f, :menu_items%>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                menus_path, :class => 'btn' %>
  </div>
<% end %>
