<div class="control-group">
  <%= f.label :name, "Item Name", :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :description, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :description, :class => 'text_area', :rows => "10", :cols => "50"  %>
  </div>
</div>
<div class="control-group">
  <%= f.label :price, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :price, :class => 'text_field'%>
  </div>
</div>
<div class="control-group">
  <%= f.label :category, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :category, :class => 'text_field' %>
  </div>
</div>
