<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8" />
<title>GrubShire</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta content="" name="description" />
<meta content="" name="author" />
<%= csrf_meta_tags %>
<%=stylesheet_link_tag :application, media: :all%>
<!-- END CSS TEMPLATE -->
</head>
	<%if owner_signed_in?%>
		<%=render partial: "layouts/signed_in"%>
	<%else%>
  	<%=render partial: "layouts/not_signed"%>
	<%end%>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<%=javascript_include_tag "gmaps"%>
<%=javascript_include_tag :application%>
<script type="text/javascript">
        $(document).ready(function () {
            $(".live-tile,.flip-list").liveTile();
        });
</script>

</body>
</html>
